.menuContainer {
    color: #fff;
    background-color: black;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

.menu {
    width: 900px;
    display: flex;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: flex-end;
}

.links a {
    text-decoration: none;
    color: white;
    margin-right: 25px;
}

.logOut {
    margin-left: 40px;
}

.main {
    display: flex;
    margin-left: 60px;
    margin-top: 40px;
    flex-direction: column;
}

p {
    margin: 20px 20px 20px 0px;
}